#message {
  color: red;
  text-align: center;
  font-weight: bold;
}

#login {
  margin-top: 20px;
}

.well {
  padding: 12px;
  margin-bottom: 5px;
}

#headerSection {
      	margin: -20px 0 20px;
      	color: #FAFAFA;
      	padding: 10px 10px;
      	box-shadow: 0 0 7px #000;
        background: gray;
} 
#headerSection a {
  color: white !important;
  text-decoration: underline;
}
